body {
  padding: 0;
  margin: 0;
}

#board {
  background-image: url(./images/background-1_0.png); 
  -webkit-animation:slide 10s linear infinite;
  
  background-size: cover;
  height: 45rem;  
  position: relative;
}
#player {
  background-image: url(./images/player.svg);
  transform: rotate(-90deg);
  position: absolute;
}
.score{
  background-color: white;
  position: sticky;
  }
  .obstacle {
    background-image: url(./images/police.png);
    transform: rotate(-90deg);
    position: absolute;
  }
.bonus {
  background-image:url(./images/gasoline.svg);
  position: absolute;
}

.background{
  background-image: url(./images/background-1_0.png);
  position: relative;
}

@-webkit-keyframes 'slide' {
	from {
	  top: 0px;
	  left:0px;
	  }
	to {
	  top: 500px;
	  left:0px;
	}
}
git st